In [2]:
d = {'key1':'value','key2':123}

In [4]:
d['key1']

'value'

In [5]:
d['key2']

123

In [6]:
d = {'k1':[1,2,3]}

In [8]:
d['k1'][1]

2

In [9]:
my_list = d['k1']

In [11]:
my_list[0]

1

In [12]:
d['k1'][0]

1

In [14]:
d = {'k1':{'innerkey':[1,2,3]}}

In [15]:
d['k1']['innerkey'][1]

2

In [16]:
True

True

In [17]:
False

False

In [18]:
my_list = [1,2,3]

In [19]:
my_list[0]

1

In [20]:
t = (1,2,3)

In [21]:
my_list

[1, 2, 3]

In [22]:
my_list[0] = 'NEW'

In [23]:
my_list

['NEW', 2, 3]

In [24]:
t

(1, 2, 3)

In [25]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [26]:
[1,2,3]

[1, 2, 3]

In [27]:
{1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [28]:
set([1,1,1,2,2,2,2,5,5,5,6,6,6])

{1, 2, 5, 6}

In [29]:
s ={1,2,3}

In [30]:
s.add(5)

In [31]:
s

{1, 2, 3, 5}

In [32]:
s.add(5)

In [33]:
s

{1, 2, 3, 5}

In [34]:
1 > 2

False

In [35]:
1 < 2

True

In [36]:
1 >= 2

False

In [37]:
1<= 1

True

In [38]:
1 == 1

True

In [39]:
1 ==2

False

In [40]:
1 != 3

True

In [43]:
'hi'!= 'bye'

True

In [44]:
1 < 2 and 2 < 3

True

In [46]:
(1 < 2) and (2 > 3)

False

In [48]:
(1 < 2) or (2 > 3) or (1 == 1)

True

In [49]:
if 1<2:
    print('yep!')

yep!

In [52]:
if True:
    x = 2 + 2

In [53]:
x

4

In [54]:
if 1 ==2:
    print('First')
else:
    print('last')

last

In [55]:
if 1 ==2:
    print('First')
elif 4 == 4:
    print('second')
elif 3 == 3:
    print('Middle')
else:
    print('last')

second